[submodule "build-tools"]
	path = build-tools
	url = https://github.com/RedHatInsights/insights-frontend-builder-common.git
[submodule "_playwright-tests/test-utils"]
	path = _playwright-tests/test-utils
	url = https://github.com/content-services/content-sources-backend.git
