#skus for qe user contentPlaywrightUserAdmin: 
# MCT4022,MCT3718,MCT3695,ES0113909

USER1USERNAME="contentPlaywrightUserAdmin" # Required
USER1PASSWORD="" # Required
BASE_URL="https://stage.foo.redhat.com:1337" # Required
CI="" # This is set to true for CI jobs, if checking for CI do  !!process.env.CI
TOKEN="" # This is handled programmatically.
PROXY="" # Set this if running directly against stage (not using "yarn local")
